<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reachability.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD27B9CC1C7B446F00494458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD27B9E01C7B447000494458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD27B9EB1C7B447000494458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
